.panel {
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    max-width: 100%;
    margin: 10px;
    background: #fff;
    border-radius: 3px;
}

.panel--clickable:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
}

.panel button {
    font-size: 15px;
}

.panel__name {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 60px;
    padding: 0 20px;
}

.panel__name>h4 {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.panel__content {
    padding: 20px;
}
