.stat--circle {
    position: relative;
}

.stat--circle .stat__container {
    position: relative;
}

.stat--circle .stat__meter {
    position: relative;
    z-index: 2;
}

.stat--circle .stat__info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
}

.stat--circle .stat__info__value {
    font-weight: 500;
}

/*
    Xsmall Size
*/
.stat--circle.stat--size-xsmall .stat__info__value {
    font-size: 20px;
}

.stat--circle.stat--size-xsmall .stat__info__title {
    display: none;
}

/*
    Small Size
*/
.stat--circle.stat--size-small .stat__info__value {
    font-size: 25px;
}

.stat--circle.stat--size-small .stat__info__title {
    font-size: 14px;
}

.stat--circle .stat__description {
    padding: 10px 0;
}
