.stat--bar {
    position: relative;
    margin-bottom: 15px;
}

.stat--bar .stat__container {
    margin-bottom: 15px;
    width: 100%;
    font-size: 14px;
}

.stat--bar .stat__meter {
    width: 100%;
}

.stat--bar .stat__info__title {
    font-weight: 500;
}
