.user-photo {
    position: relative;
    background: #efefef;
}

.user-photo--rounded {
    border-radius: 100%;
    overflow: hidden;
}

.user-photo img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
}

.user-photo img[src=""] {
    display: none;
}
