.list-form {
    display: block;
    width: 100%;
}

.list-form button {
    font-size: 15px;
}

.list-form__row {
    border-bottom: 1px solid #efefef;
    padding: 5px 0;
}

.list-form__row span,
.list-form__row input {
    line-height: 20px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    text-align: right;
    border: 1px solid transparent;
    padding: 5px;
    background: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

/*
 * Label
*/

.list-form__row label {
    color: #000;
    font-size: 14px;
}

/*
 * Span
*/

.list-form__row--type-password span {
    color: transparent;
    background-repeat: no-repeat;
    background-position: center right;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.list-form__row span {
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.list-form__row span[data-empty="true"] {
    opacity: 0;
}

/*
 * Input
*/
.list-form__row input {
    border: 1px solid #efefef;
}

.list-form__row input:focus {
    border: 1px solid #7D4CDB;
    -webkit-box-shadow: 0px 0px 3px #7D4CDB;
    box-shadow: 0px 0px 3px #7D4CDB;
}

.list-form__row input::-webkit-input-placeholder {
    color: #aaa;
}

.list-form__row input:-ms-input-placeholder {
    color: #aaa;
}

.list-form__row input::placeholder {
    color: #aaa;
}
