.task {
    margin-bottom: 15px;
    padding: 7px 10px;
    border-left: 4px solid #7D4CDB;
    background: #fff;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    line-height: 100%;
}

.task:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
}

.task--completed {
    border-color: #6FFFB0;
}

.task--in-progress {
    border-color: #7D4CDB;
}

.task--failed {
    border-color: #db4c53;
}

.task--new {
    border-color: #4cccdb;
}

.task__title {
    font-size: 14px;
    font-weight: 500;
}

.task__status {
    font-size: 9px;
    color: #666;
    text-transform: uppercase;
    position: relative;
}

.task__status:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 5px;
    height: 5px;
    border-radius: 100%;
}

.task--completed .task__status:before {
    background: #6FFFB0;
}

.task--in-progress .task__status:before {
    background: #7D4CDB;
}

.task--failed .task__status:before {
    background: #db4c53;
}

.task--new .task__status:before {
    background: #4cccdb;
}

.task__description {
    font-size: 12px;
    padding: 5px 0;
}

.task__footer {
    font-size: 10px;
    text-align: right;
    color: #666;
}
